/* Importing Google Fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.slider-wrapper .slider-item{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: none;
}
.slider-wrapper .slider-item::before {
    position: absolute;
    z-index: 5;
    content: ""; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("images/cricket1.jpg");
    background-size: cover;
    background-position: center;
}
.slider-wrapper .slider-item:nth-child(2):before{
    background: url("images/chesss.webp");
}
.slider-wrapper .slider-item:nth-child(3):before{
    background: url("images/football2.jpg");
}
.slider-wrapper .slider-item:nth-child(4):before{
    background: url("images/carrom1.jpg");
}
.slider-wrapper .slider-item:nth-child(5):before{
    background: url("images/badminton4.jpg");
}
.slider-wrapper .slider-item:nth-child(6):before{
    background: url("images/volleyball4.jpg");
}
.slider-wrapper .slider-item:nth-child(7):before{
    background: url("images/relay4.jpg");
}
.slider-wrapper .slider-item:nth-child(8):before{
    background: url("images/marathon3.jpg");
}
.slider-wrapper .slider-item:nth-child(9):before{
    background: url("images/kabaddi4.jpg");
}
.slider-wrapper .slider-item:nth-child(10):before{
    background: url("images/tug5.jpg");
}
.slider-wrapper .slider-item:nth-child(11):before{
    background: url("images/khokho3.jpg");
}
.slider-wrapper .slider-item:nth-child(12):before{
    background: url("images/hockey6.jpg");
}

.slider-wrapper .slider-item .slide-content{
    color: #fff;
    z-index: 50;
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px 10px;
}
.slider-item .slider-content .slide-subtitle{
    font-size: 1rem;
    font-weight: normal;
}
.slider-item .slider-content .slide-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
    text-transform: uppercase;
}
.slider-item .slider-content .slide-description{

    margin-top: 25px;
    line-height: 25px;
}
.slider-item .slider-content .slide-button{
    color: #fff;
    width: 250px;
    padding: 13px 0;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    margin-top: 45px;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    border: 2px solid #fff;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.slider-item .slider-content .slide-button:hover{
color: black;
background: #fff;
}

