* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      padding: 0 10px;
  }
  
  .navbar{
      display: flex;
      padding: 22px 0;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
  }
  
  .navbar .links {
      display: flex;
      list-style: none;
      gap: 35px;
  }

  .glow-button {
    position: relative;
    font-size: 18px;
    padding: 8px 20px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(90deg, #58b5eb, #00ffff, #e47de4);
    background-size: 400%;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    animation: glowing 20s infinite alternate;
    box-shadow: 0 0 10px rgba(4, 238, 255, 0.5);
}

.glow-button::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    /* background: linear-gradient(90deg, glow-button, #ffeb00, #00ff00, #00ffff, #0000ff, #8000ff, #ff00ff); */
    background-size: 400%;
    border-radius: 50px;
    z-index: -1;
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s;
}

.glow-button:hover::before {
    opacity: 1;
}

.glow-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(69, 9, 235, 0.8);
}

@keyframes glowing {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

  
  .navbar .links .close-btn
  {
      color: #000;
      cursor: pointer;
      font-size: 1.5rem;
      position: absolute;
      right: 20px;
      top: 20px;
      display: none;
      
  }
  
  .navbar .logo img {
       width: 40px;
       /* gap: 10px; */
  }
  
  .navbar .logo {
      display: flex;
      gap: 10px;
      align-items: center;
  }
  
  .bahu {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    list-style: none;
  }
  .logo{
    text-decoration: none;
  }


  
  .navbar .links a {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 500;
      /* text-decoration: none; */
  }
  
  body{
      width: 100%;
      height: 100vh;
      /* background: linear-gradient(135deg, #ffffff, #1c1d209c); */
      /* background: url(Images/Screenshot\ 2025-02-09\ 065821.png)center / cover; */
  }
  
  .navbar .links a:hover{
      color: black;
  }
  .navbar .links a{
      color: white;
  }
  
  .navbar .login-btn
  {
      border: none;
      outline: none;
      font-size: 1.2rem;
      font-size: 600;
      color: black;
      /* background: white; */
      padding: 10px 18px;
      cursor: pointer;
      border-radius: 5px;
  }
  
  .form-pop-up{
      position: fixed;
      top: 50%;
      left: 50%;
      opacity: 0;
      pointer-events: none;
      background: linear-gradient(135deg, #ffffff, #1c1d209c);
      border: 1px solid black;
      width: 100%;
      max-width: 720px;
      transform: translate(-50%,-100%)
  }
  
  .form-pop-up .form-box
  {
      display: flex;
  }
  
  .form-box.formdetails{
      max-width: 330px;
  }
  .form-box h2 {
      margin-bottom: 15px;
      text-align: center;
  }
  
  .form-pop-up .form-content{
      padding: 12px;
      width: 100%;
  }
  
  
  
  form .input-box input {
      margin: 2px;
      font-size: 0.95 rem;
      padding: 15px;
      width: 100%;
      background: white;
      border: 2px solid #ccc;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;
      border-radius: 5px;
    }
  
    .dot1 {
      left: 27rem;
      width: 100%;
      background-color: black;
      color: aliceblue;
      border-radius: 10px;
      padding: 20px
    }
    .dot2{
      left: 27rem;
      width: 100%;
      background-color: black;
      color: aliceblue;
      border-radius: 10px;
      padding: 15px
    } 
  
  form .input-box:hover{
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(255, 179, 0, 0.7);
  }
  
  form .input-box::placeholder{
          color: black;
          font-size: larger;
  }
  
  form .input-box{
          width: 100%;
          margin-bottom: 20px;
          height: 40px;
          border-radius: 10px;
  }
  
  form .btn {
      background: linear-gradient(45deg, #ff6a00, #ee0979);
      color: #fff;
    }
  
  form .btn:hover {
      transform: scale(1.05);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    }
  
  form .btn {
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
      width: 100%;
      height: 45px;
      flex: 1 1 0%;
      padding: 15px;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      border-radius: 10px;
      transition: 0.2s ease;
      margin: 16px 4px;
  }
  
  form .register{
      text-align: center;
  }
  
  .form-box .formdetails {
   max-width: 345px;
   width: 100%;
   flex-direction: coloumn;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 12px 13px;
   /* background: linear-gradient(135deg, #111010, #1c1d209c); */
   border: 1px solid black;
   background-image: url("Images/Screenshot\ 2025-02-19\ 201002.png");
  }
  
  .login .formdetails {
      background-position: center;
      background-size: cover;
      color: white;   
  }
  
  .Sign-up .formdetails {
      background-position: center;
      background-size: cover;
      color: white;   
  }
  
  .form-pop-up .closebtn {
      position: absolute;
      top: 12px;
      right: 15px;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
      color: #878484;
  }
  
  .show-popup .form-pop-up{
      opacity: 1;
      pointer-events: auto;
  }
  
  .dot .remember-forgot a {
      padding: 0px 0px 12px 0px;
  } 
  
  .policy-text .Sign-up{
      display: flex;
      align-items: center;
  }
  
  /* .form-pop-up .Sign-up {
      display: none;
  }
  
  .form-pop-up.show-signup .Sign-up {
      display: flex;
  }
  
  .form-pop-up.show-signup .login {
      display: none;
  } */
  
  .form-pop-up {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* background: black; */
      padding: 0px;
      border-radius: 10px;
      /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
  } 
  
  /* Jab popup open hoga */
  .show-popup .form-pop-up {
      display: block;
  }
  
  /* Default: Sign-up form hidden */
  .form-pop-up .Sign-up {
      display: none;
  }
  
  /* Jab show-signup class add hogi, tab signup form dikhega */
  .form-pop-up.show-signup .Sign-up {
      display: flex;
  }
  
  /* Jab sign-up form dikhega, tab login form chhup jayega */
  .form-pop-up.show-signup .login {
      display: none;
  }
  
  
  .blurbg{
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      height: 100%;
      /* backdrop-filter: blur(15px); */
      transition: 0.1s ease;
  }
  
  .show-popup .blurbg{
      opacity: 1;
      pointer-events: auto;
  }
  .show-popup .form-pop-up{
      opacity: 1;
      pointer-events: auto;
      transform: translate(-50%,-50%);
      transition: transform 0.3s ease, opacity 0.1s;
  }
  
  .close-btn{
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
      position: absolute;
      top: 12px;
      color: #ffffff;
      right: 14px;
  }
  
  /* .form-box .formdetails p{
      font-size: 12px;
  } */
  
  .navbar .menu-btn
  {
      display: none;
      color: #fff;
      cursor: pointer;
      font-size: 1.5rem;
  }
  
  
  @media (max-width: 950px) {
      .navbar :is(.menu-btn, .links , .close-btn) {
          display: block;
      }
      .navbar {
          padding: 15px 0;
      }
      .navbar .links {
          display: none;
      
      .navbar .logo img {
          display: none;
      }
      .navbar h2 {
          font-size: 1.4rem;
      }
      .navbar .links {
          position: fixed;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100vh;
          background: #fff;
          text-align: center;
          padding-top: 60px;
          display: block; /* Yeh fix hai */
          transition: 0.2s ease;
      }
      .navbar .links .show-menu{
          left: 0;
  
      }
      .navbar .links a {
          color: #000;
          margin: 20px 0;
          font-size: 1.7rem;
          display: block; /* Yeh fix hai */
      }
      .navbar .login-btn {
          font-size: 0.9rem;
          padding: 7px 10px;
      }
  }
  
  
  .ldetail{
      padding: 4px;
  }
  
  .sdetail{
      padding: 4px;
  }
  
  
  @media (max-width: 760px)
  {
      .form-pop-up{
          width: 95%;
      }
      .formbox .formdetails{
          display: none !important;
      }
      .formbox .form-content{
          padding: 30px 20px;
      }
  }
  @media (max-width: 760px) {
      .formdetails {
          display: none !important;
      }
  }
  
  }
  